jdbc.conf

################################################################################
### we don't need generated sources and ide specific folder in our repository
################################################################################
.idea
target
out

### Java template
*.class

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/

# JIRA plugin
atlassian-ide-plugin.xml
