<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!--<p>Paragraph</p>-->

<!--<h1>Header 1</h1><br/>-->
<!--<h2>Header 2</h2><br/>-->
<!--<h3>Header 3</h3><br/>-->
<!--...<br/>-->
<!--<h6>Header 6</h6><br/>-->
<!--<br/>-->
<!--<b>Bold text</b><br/>-->
<!--<i>Italic text</i><br/>-->
<!--<u>Underscored text</u><br/>-->
<!--<br/>-->
<!--<strong>Important text</strong><br/>-->
<!--List:-->
<!--<ul>-->
    <!--<li>Element1</li>-->
    <!--<li>Element2</li>-->
<!--</ul><br/>-->

<!--<ol>-->
    <!--<li>El1</li>-->
    <!--<li>El2</li>-->
<!--</ol><br/>-->
<!--<div style="border:dashed 1px red; min-width: 15%; height: auto; display: table">-->
<!--<table border="1" cellpadding="10" cellspacing="20" style="margin: 0px auto">-->
    <!--<thead>-->
    <!--<td>-->
        <!--head1-->
    <!--</td>-->
    <!--<td>-->
        <!--head2-->
    <!--</td>-->
    <!--</thead>-->
    <!--<tr>-->
        <!--<td colspan="2">-->
            <!--1.1-->
        <!--</td>-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;1.2&ndash;&gt;-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>-->
            <!--2.1-->
        <!--</td>-->
        <!--<td>-->
            <!--2.2-->
        <!--</td>-->
        <!--<td>-->
            <!--2.3-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->
<!--</div>-->

    <!--<form action="#" method="get">-->

    <!--<input type="text" name="e-mail" title="111"/>-->
    <!--<textarea name="textArea">Some text</textarea><br/>-->
        <!--<input type="checkbox"/><br/>-->
        <!--<input type="checkbox"/><br/>-->
        <!--<input type="checkbox"/><br/>-->
        <!--<input type="checkbox"/><br/>-->
        <!--<input type="radio" name="radio" value="1"/><br/>-->
        <!--<input type="radio" name="radio" value="2"/><br/>-->
        <!--<input type="radio" name="radio" value="3"/><br/>-->
        <!--<input type="radio" name="radio" value="4"/><br/>-->

        <!--<input type="submit" value="Click me!"/>-->

        <!--<script type="text/javascript">-->
            <!--function redirect() {-->
                <!--var link = document.getElementById("adv").value;-->
                <!--alert(link);-->
                <!--document.location.href = link;-->
            <!--}-->
        <!--</script>-->

        <!--<select multiple onclick="javascript:redirect()">-->
            <!--<option>dome</option>-->
            <!--<optgroup label="hz4e">-->
                <!--<option>ab</option>-->
                <!--<option>a;sdkjf</option>-->
            <!--</optgroup>-->
        <!--</select>-->

        <!--<input type="hidden" id="adv" name="adv" value="http://ex.ua"/>-->

<!--</form>-->

</body>
</html>
